.same-size {
  width: 100%; /* Ensure full width */
}

.stock{
  margin-top: 1.8rem;
}

.form-select {
  border-width: 1px !important;
  border-color: #ced4da !important; /* This matches the Bootstrap input border color */
  border-radius: 0.375rem; /* Ensure consistent border radius with input fields */
  box-shadow: none; /* Remove any browser-specific shadow */
}


@media (min-width: 768px) {
  .col-md-2-custom {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 10.666667%;
      max-width: 16.666667%;
  }
}

.test{
  margin-left: 220px;
}

.test1{
  margin-left: 90px;
}

.test2 {
  margin-left: -3px;
}


@media (min-width: 768px) {
  .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 12%;
      max-width: 9.333333%;
  }
}


@media (min-width: 768px) {
  .col-md-3-custom {
      flex: 0 0 23.5%;
      max-width: 25%;
  }
}
